.sidebar {
	width: 250px;
	padding: 16px;
	height: 100vh;
	position: fixed;

	// border-right: #eee 1px solid;
	background-color: var(--additional-color);
}

.menu {
	margin-top: 16px;
}

.item {
	padding: 8px;

	&:hover {
		background-color: var(--background-color);
		border-radius: 16px;
		cursor: pointer;
	}
}

.subitem {
	padding: 4px;
	margin-left: 8px;

	&:hover {
		background-color: var(--background-color);
		border-radius: 8px;
		cursor: pointer;
	}

}

.item,
.subitem {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
}