.sidebar {
	transition: transform .5s, margin-top .5s, width .8s;
	width: 250px;
	padding: 16px;
	height: 100vh;
	position: fixed;

	background-color: var(--additional-color);

	@media (max-width: 767px) {
		transform: translateX(-100%);
		margin-top: 51px;

	}

	&.opened {
		@media (max-width: 767px) {
			transform: translateX(0);
			width: 100%;
		}
	}
}

.menu {
	margin-top: 16px;
}

.item {
	padding: 8px;

	&:hover {
		background-color: var(--background-color);
		border-radius: 16px;
		cursor: pointer;
	}
}

.subitem {
	padding: 4px;
	margin-left: 8px;

	&:hover {
		background-color: var(--background-color);
		border-radius: 8px;
		cursor: pointer;
	}

}

.item,
.subitem {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
}