.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	gap: 24px;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
	}
}

.title {
	margin-bottom: 16px;
}

.tasks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;

	grid-column-start: 1;
	grid-column-end: 3;

	@media (max-width: 560px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.task {
	padding: 16px;
	background-color: var(--additional-color);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	gap: 56px;
	max-width: 100%;
	justify-content: space-between;

	@media (max-width: 560px) {
		gap: 42px;
	}

	* {
		color: #333;
	}

	&.notStarted {
		background-color: var(--task-not-started);
	}

	&.pending {
		background-color: var(--task-pending);
	}

	&.done {
		background-color: var(--task-done);
	}

	&.canceled {
		background-color: var(--task-canceled);
	}

	i {
		font-size: 40px;
	}

	&:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;

		@media (max-width: 560px) {
			grid-column-start: 1;
			grid-column-end: 1;
		}
	}

	&:nth-child(2) {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;

		@media (max-width: 768px) {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}

		@media (max-width: 560px) {
			grid-column-start: 1;
			grid-column-end: 1;
		}
	}
}

.taskTitle {
	width: 100%;
	hyphens: auto;

	@media (max-width: 992px) {
		font-size: 18px !important;
	}
}