* {
  margin: 0;
  padding: 0;
  color: var(--foreground-color);
  background-color: transparent;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
}