.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
	}
}

.task {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--additional-color);
	padding: 16px;
	border-radius: 16px;

	&.pending {
		border-left: #C3B0FF 16px solid;

		.taskLabel {
			background-color: #C3B0FF;
		}
	}

	&.inProcess {
		border-left: #FFBD92 16px solid;

		.taskLabel {
			background-color: #FFBD92;
		}
	}

	&.done {
		border-left: #95EAFF 16px solid;

		.taskLabel {
			background-color: #95EAFF;
		}
	}
}

.taskLabel {
	padding: 8px 16px;
	background-color: #fff;
	border-radius: 999px;
	// text-transform: uppercase;
	margin-bottom: 10px;
	color: #333;
}

.taskTitle {
	font-weight: 500;
}

.taskDate {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 8px;
}

.categories {
	margin-bottom: 16px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.category {
	padding: 12px 16px;
	background-color: var(--additional-color);
	border-radius: 16px;

	display: flex;
	align-items: center;
	gap: 8px;
}

.iconcategory {
	padding: 7.5px 16px;
}